.inventory_search_from{
    margin-top: 2%;
}
.inner-form{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.inner-form > .select-wrap{
    width: 10%;
}
.select-wrap select, .input-wrap input{
    width: 95%;
}

.inner-form > .input-wrap{
    width: 20%;
}